{% extends 'base.html' %}
{% block container %}

  <h1 class="display-5 mt-4">Летим {{tour_from}}</h1>


  <p class="mb-4">Найдено {{tours|length}} туров, от {{price|min}} до {{price|max}} и от {{nights|min}} ночей до
    {{nights|max}} ночей</p>

  <div class="row mt-5">
    {% for key in keys %}
    <div class="col-4 mb-4">
      <div class="card h-100">
        {% set tour=tours[key] %}
        <div class="embed-responsive embed-responsive-16by9">
          <img class="card-img-top embed-responsive-item" src="{{tour['picture']}}" alt="{{tour['title']}}"/>
        </div>
        <div class="card-body">
          <h2 class="h5 card-title">{{tour['title']}}</h2>
          <p class="card-text">{{tour['description']}}</p>

        </div>
        <div class="card-footer bg-white border-top-0">
          <a href="/tours/{{key}}/" class="btn btn-sm btn-primary">Подробнее</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}