{% extends 'base.html' %}
{% block container %}

    <section class="mt-3 pb-5">
      {% set tour=tours[key] %}
      <h1 class="display-3 mt-4">{{tour['title']}} {{tour['stars']}}★</h1>
      <p class="lead">{{tour['country']}} {{tour_from}} {{tour['nights']}} ночей</p>
      <img src="{{tour['picture']}}" class="w-100" alt="{{tour['title']}}">
      <p class="my-4 w-100">{{tour['description']}}</p>
      <table WIDTH=100%>
        <tr>
          <td><a href="#" class="btn btn-success btn-lg">Купить тур за {{tour['price']}}</a></td>
          <td ALIGN=RIGHT><a href="/" class="btn btn-primary btn-lg">Вернуться на главную</a></td>
        </tr>
      </table>
    </section>

{% endblock %}